body {
  color: white;
  background-color: #c24242;
}

.timer {
  font-size: 30vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.grid {
  display: grid;
  place-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 45px;
}

button {
  border: 0;
  border-radius: 25%;
  padding: 25px;
  margin: 5px;
  background: white;
  border: solid 4px #c24242;
}
button:hover {
  border: solid 4px white;
}
button:active {
  border: solid 4px #c24242;
}
