body {
  color: white;
  background-color: #c24242;
}

.timer {
  font-size: 30vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.grid {
  display: grid;
  place-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 4vw;
  /* TODO: Replace png with SVG and remove this */
  -webkit-filter: invert(1);
  filter: invert(1);
}

button {
  border: 0;
  border-radius: 25%;
  padding: 3vw;
  margin: 1vw;
  background: rgba(255, 255, 255, 0.25);
  border: solid 4px #c24242;
}
@media (hover: hover) {
  button:hover {
    border: solid 4px white;
  }
}
button:active {
  border: solid 4px #c24242;
  background: rgba(255, 255, 255, 0.1);
}
